* {
    -primary-color: #007bff;
    -secondary-color: #519bea;
    -background-color: #293846;
    -text-color: #FFFFFF;
    -error-color: #dd2020;
    -input-background-color: #d8d2d2;
    -input-border-color: #dcdcdc;
}
