* {
    -primary-color: #007bff;
    -secondary-color: #519bea;
    -background-color: #293846;
    -text-color: #FFFFFF;
    -error-color: #dd2020;
    -input-background-color: #ffffff;
    -input-border-color: #dcdcdc;
    -logout-color: #667A8A;

}
