@import "colors.css";
@import "custom-menu-item.css";
@import "side-nav.css";
@import "table.css";

.root {
    /*-fx-pref-width: 100%;*/
    /*-fx-pref-height: 100%;*/
    /*-fx-min-height: 800px;*/
    /*-fx-min-width: 1000px;*/
    /*-fx-background-color: -color-dark;*/
    /*-fx-background-color: -background-color;*/
    -fx-background-color: white;
    -fx-font-family: -font-family;
}

.scroll-pane, .scroll-pane > .viewport, grid-pane, .scroll-pane > .content {
    -fx-background-color: white;
}

.label {
    -fx-text-fill: -color-dark;
    -fx-font-size: 14px;
}

.error-label {
    -fx-text-fill: -error-color;
    -fx-font-size: 12px;
}

/* TextField Styles */
.text-field,
.text-field-disabled,
.text-area,
.text-area-disabled {
    -fx-background-color: -input-background-color;
    -fx-border-color: -input-border-color;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-padding: 8 10;
    -fx-font-size: 14px;
    -fx-max-width: 600px;
    -fx-min-width: 400px;
    -fx-border-width: 1px;
}

.text-field-form {
    -fx-background-color: -input-background-color;
    -fx-border-color: -input-border-color;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-padding: 8 10;
    -fx-font-size: 14px;
    -fx-max-width: 800px;
    -fx-min-width: 800px;
    -fx-border-width: 1px;
}

/* Button Styles */
.button {
    -fx-background-color: -color-primary !important;
    -fx-text-fill: -text-color !important;
    -fx-border-radius: 4 !important;
    -fx-background-radius: 4 !important;
    -fx-padding: 8 10 !important;
    -fx-font-size: 14px !important;
    -fx-cursor: hand !important;
}

.button:hover {
    -fx-background-color: -color-tertiary !important;
    -fx-font-size: 14px !important;
}

.clickable {
    -fx-cursor: hand;
}

.elevated-box {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0, 3, 0);
}

.elevated-nav-bar {
    -fx-min-width: 100%;
    -fx-padding: 16px 24px;
    -fx-min-height: 70px;
}

.elevated-card {
    -fx-background-color: #ecf1eb;
    -fx-border-width: 1;
    -fx-padding: 10;
    -fx-border-color: #e6e1e1;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.image-border-radius {
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}

.logout-class {
    -fx-background-color: -logout-color;
    -fx-text-fill: -text-color;
    -fx-border-radius: 9;
    -fx-background-radius: 9;
    -fx-padding: 10 20;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-fill-width: true;
    -fx-spacing: 16;
    -fx-max-width: 600px;
}

.no-scroll-bars .scroll-bar:vertical,
.no-scroll-bars .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-min-width: 0;
    -fx-min-height: 0;
}

.auth_header {
    -fx-font-size: 24px;
    -fx-font-weight: 800;
    -fx-text-fill: -color-dark;
}

.dashboard-pane {
    -fx-background-color: -color-primary;
    -fx-padding: 16;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-border-width: 1;
    -fx-border-color: -color-primary;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);
    -fx-alignment: center;
    -fx-text-fill: -color-light !important;
    -fx-pref-width: 300px;
    -fx-pref-height: 200px;
    -fx-max-width: 300px;
    -fx-max-height: 200px;
    -fx-min-width: 300px;
    -fx-min-height: 200px;
}

.dashboard-pane-image {
    -fx-fit-width: 80;
    -fx-fit-height: 80;
}

.dashboard-pane-title {
    -fx-fit-width: 100;
    -fx-wrap-text: true;
    -fx-font-size: 22px;
    -fx-font-weight: bolder;
    -fx-text-fill: -color-light !important;
}

.dashboard-pane-value {
    -fx-fit-width: 100;
    -fx-wrap-text: true;
    -fx-font-size: 20px;
    -fx-text-fill: -color-light;
}

.text-button {
    -fx-background-color: transparent;
    -fx-text-fill: -primary-color;
    -fx-background-radius: 16px;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-padding: 4 10;
    -fx-border-color: -primary-color;
    -fx-border-width: 1px;
    -fx-border-radius: 16px;
}

.bullet-point {
    -fx-padding: 5px;
    -fx-font-size: 14px;
    -fx-text-fill: -color-dark;
}

.grid-item {
    -fx-padding: 6px 10px;
    -fx-border-color: #333;
    -fx-border-width: 1px;
    -fx-border-radius: 16px;
}

