/* Container for the table and header */
.table-container {
    -fx-background-color: -color-light;
    -fx-padding: 20;
    -fx-alignment: top-left;
    -fx-min-width: 100%;
}

/* Table Header */
.table-header {
    -fx-spacing: 10;
    -fx-padding: 20;
    -fx-background-color: -color-secondary;
    -fx-effect: dropshadow(gaussian, rgba(149, 157, 165, 0.2), 24, 0, 0, 8);
}

.table-header-main {
    -fx-font-size: 20px;
    -fx-font-weight: 800;
    -fx-text-fill: -color-dark;
}

.table-header-desc {
    -fx-font-size: 16px;
    -fx-font-weight: 400;
}

.table-header-search {
    -fx-padding: 10;
    -fx-font-size: 16;
    -fx-border-radius: 4;
    -fx-border-color: -color-light;
    -fx-border-width: 1;
    -fx-min-height: 40;
}

/* Table View */
.table-container .table-view {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: black;
    -fx-padding: 10;
    -fx-selection-bar: #d0d0d0;
}

.table-container .table-view .column-header {
    -fx-background-color: -color-primary;
    -fx-border-color: -color-primary;
    -fx-border-width: 1px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: -text-color;
}

.table-container .table-view .column-header .text {
    -fx-text-fill: -text-color;
}

.table-header-button{
    -fx-background-color: -color-primary !important;
    -fx-text-fill: -text-color !important;
    -fx-border-radius: 4 !important;
    -fx-background-radius: 4 !important;
    -fx-padding: 8 10 !important;
    -fx-font-size: 14px !important;
    -fx-cursor: hand !important;
}
.table-header-button:hover{
    -fx-background-color: -color-tertiary !important;
    -fx-font-size: 14px !important;
}

.table-view .table-cell {
    -fx-alignment: center-left;
    -fx-padding: 10px;
    -fx-font-size: 14px;
    -fx-text-fill:  -color-dark;
}
